.navbar
    margin-bottom: 15px

#mobile-bar
    .menu-button
        position: absolute
        width: 24px
        height: 24px
        top: 12px
        left: 12px
        background: url("../images/menu.png") center center no-repeat
        background-size: 24px

@media screen and (max-width: 900px)
    #mobile-bar
        display: block

.tr-btn
    width: 160px
    margin-right: 5px
    margin-left: 5px
    height: 40px
    font-weight: bold